.container {
  margin-top: 20px;
  float: right;
  width: 60%;
  height: 260px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
}

.circle {
  top: 60px;
  float: right;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: #131722;

  position: relative;
  overflow: hidden;
  border: 5px solid #03bc03;
}

.circle::after {
  content: "";
  position: absolute;
  top: 25%;
  width: 200%;
  height: 200%;
  left: -50%;

  background: rgba(83, 252, 83, 0.5);
  box-shadow: 0 0 20px #03bc03;

  border-radius: 40%;
  animation: rotate 10s linear forwards infinite;
}

.circle h1 {
  margin-top: 30%;
  margin-left: 13%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #03bc03;
  text-align: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
