.mainDiv {
  background-color: #131722;
  height: 600px;
  margin: 10px 50px 0 50px;
  display: flex;
}

.firstDiv {
  position: relative;
  background-color: #1e222d;
  height: 90%;
  width: 20%;
  top: 30px;
  left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SecondDiv {
  background-color: #1e222d;
  position: relative;
  height: 90%;
  width: 75%;
  left: 60px;
  top: 29px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
